/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* add the main font */
@font-face {
  font-family: 'PIGARNOS_NEUE';
  font-weight: normal;
  font-style: normal;
  src: url(/build/fonts/PIGARNOS_NEUE_Regular/PIGARNOS_NEUE_Regular.ttf);
}

/* add the slogan font */
@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  src: url(/build/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
  color: black;
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* for consult type request */
.ant-select-item-option-content {
  white-space: normal !important;
  word-wrap: break-word !important;
}


/* home page carousel buttons  */
.slick-active button {
  background-color:  black !important;
}

.slick-dots li button {
  background-color: gray !important;
}

.scoped-corner {
  -webkit-mask-image: radial-gradient(circle at top right, transparent 40px, white 41px);
  mask-image: radial-gradient(circle at top right, transparent 40px, white 41px);
}